#!/bin/bash

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Do not clear the screen after quitting a manual page.
export MANPAGER='less -X';

# define nano as default editor
export EDITOR='nano'